{% extends 'base.html.twig' %}

{% block title %}Welcome Home{% endblock %}



{% block body %}
  <div class="container text-center my-5" id="gedragsregels">
    <h2>Hier lees je onze gedragsregels. Ook ga je akkoord met onze algemene voorwaarden.</h2>
    <ul style="list-style-type: none">
      <li class="my-4"><strong>Kom op tijd voor de lessen en trainingen.</strong><br> Het is belangrijk om op tijd aanwezig te zijn, zodat de les of training soepel kan verlopen en andere deelnemers niet worden gestoord.</li>
      <li class="my-4"><strong>Respecteer de trainers en medesporters.</strong><br> Behandel anderen met respect en houd rekening met hun grenzen en behoeften. Samen zorgen we voor een positieve en veilige sportomgeving.</li>
      <li class="my-4"><strong>Draag passende sportkleding en schoenen.</strong><br> Zorg ervoor dat je comfortabele kleding draagt die geschikt is voor de sportactiviteit die je gaat beoefenen. Het dragen van geschikte schoenen helpt blessures te voorkomen.</li>
      <li class="my-4"><strong>Gebruik een handdoek tijdens het sporten.</strong><br> Het is hygiënisch en respectvol naar andere sporters toe om een handdoek te gebruiken om transpiratievocht op te vangen tijdens het sporten.</li>
      <li class="my-4"><strong>Volg de instructies van de trainers op.</strong><br> De trainers zijn er om je te begeleiden en te helpen. Luister goed naar hun aanwijzingen en volg deze op om blessures en verkeerde uitvoering van oefeningen te voorkomen.</li>
      <li class="my-4"><strong>Houd de trainingsruimtes en apparatuur schoon.</strong><br> Ruim na gebruik je eigen spullen op en zorg ervoor dat de trainingsruimtes en apparatuur netjes blijven. Zo kunnen andere sporters ook prettig trainen.</li>
      <li class="my-4"><strong>Laat waardevolle spullen thuis of berg ze op in de daarvoor bestemde kluisjes.</strong><br> Neem geen waardevolle spullen mee naar de sportlocatie. Als er kluisjes beschikbaar zijn, maak dan gebruik van deze faciliteit om je waardevolle spullen veilig op te bergen.</li>
      <li class="my-4"><strong>Gebruik je telefoon alleen in de daarvoor aangewezen ruimtes.</strong><br> Om een focus op de sportactiviteiten te behouden en anderen niet te storen, is het belangrijk om je telefoon alleen te gebruiken op plaatsen die hiervoor zijn aangewezen, zoals de specifieke telefoonzone of de ontvangstruimte.</li>
      <li class="my-4"><strong>Luister naar je lichaam en forceer niets.</strong><br> Het is essentieel om naar je eigen lichaam te luisteren tijdens het sporten. Stop of pas de oefeningen aan als je pijn voelt of je niet goed voelt. Neem indien nodig contact op met een trainer of instructeur.</li>
      <li class="my-4"><strong>Veiligheid staat voorop, volg de veiligheidsinstructies op.</strong><br> Zorg ervoor dat je op de hoogte bent van en voldoet aan de veiligheidsinstructies van de sportlocatie. Meld eventuele onveilige situaties direct aan het personeel.</li>
      <li class="my-4"><strong>Respecteer de privacy van andere sporters.</strong><br> Ga vertrouwelijk om met persoonlijke informatie van medesporters en deel deze niet zonder toestemming.</li>
      <li class="my-4"><strong>Zorg voor een goede persoonlijke hygiëne.</strong><br> Neem voorafgaand aan het sporten een douche en gebruik de beschikbare sanitaire voorzieningen indien nodig.</li>
      <li class="my-4"><strong>Neem verantwoordelijkheid voor je eigen veiligheid en gezondheid.</strong><br> Let op je eigen welzijn en neem de nodige voorzorgsmaatregelen om blessures te voorkomen, zoals het opwarmen van je spieren voorafgaand aan de training.</li>
      <li class="my-4"><strong>Moedig andere sporters aan en creëer een positieve sfeer.</strong><br> Stimuleer en ondersteun medesporters om hun doelen te bereiken en zorg voor een motiverende omgeving.</li>
      <li class="my-4"><strong>Blijf gehydrateerd tijdens het sporten.</strong><br> Neem regelmatig waterpauzes en zorg ervoor dat je voldoende vocht binnenkrijgt om uitdroging te voorkomen.</li>
      <li class="my-4"><strong>Vraag om hulp of advies indien nodig.</strong><br> Als je vragen hebt over oefeningen, technieken of apparatuur, aarzel dan niet om een trainer of instructeur om hulp te vragen.</li>
      <li class="my-4"><strong>Neem deel aan sportieve evenementen en wedstrijden.</strong><br> Profiteer van de mogelijkheden om deel te nemen aan sportieve uitdagingen en wedstrijden om jezelf uit te dagen en je vaardigheden te verbeteren.</li>
      <li class="my-4"><strong>Geniet van het sporten en heb plezier!</strong><br> Sporten moet leuk en plezierig zijn. Haal voldoening uit je inspanningen en geniet van de positieve effecten op je lichaam en geest.</li>
    </ul>
  </div>




{% endblock %}

